@model PostSphere.Models.Comment

<h2>Novo Comentário</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="@Url.Action("Index", "Comment")" class="btn btn-secondary">Cancelar</a>
}
