@model PostSphere.Models.Comment

@{ var topicId = ViewData["TopicId"] ?? 0; }

<li class="list-group-item">
    <div class="text-break text-start">
        <!-- Adicionando classes para quebra de linha e alinhamento -->
        @Model.Text
    </div>
    <small><strong>Por:</strong> @Model.Author | @Model.CreatedAt</small>
    <div>
        <!-- Botão Responder -->
        <a href="@Url.Action("Reply", "Topic", new { parentId = Model.Id, topicId = topicId })" class="btn btn-link btn-sm">Responder</a>

        <!-- Botão Editar -->
        <a href="@Url.Action("EditComment", "Topic", new { id = Model.Id })" class="btn btn-link btn-sm text-warning">Editar</a>

        <!-- Botão Detalhes -->
        <a href="@Url.Action("CommentDetail", "Topic", new { id = Model.Id })" class="btn btn-link btn-sm text-primary">Detalhes</a>

        <!-- Botão Excluir -->
        <a href="@Url.Action("DeleteComment", "Topic", new { id = Model.Id })" class="btn btn-link btn-sm text-danger">Excluir</a>

    </div>

    @if (Model.Replies != null && Model.Replies.Any())
    {
        <ul class="list-group mt-2">
            @foreach (var reply in Model.Replies)
            {
                Html.RenderPartial("_CommentPartial", reply, new ViewDataDictionary { { "TopicId", topicId } });
            }
        </ul>
    }
</li>
